@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../files/fonts/icomoon.ttf") format("truetype"), url("../files/fonts/icomoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
  background-color: #ffffff;
}

p {
  margin: 20px 0;
}

h2, h3 {
  letter-spacing: 0.05em;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.57em;
}

h3 {
  font-weight: 900;
}

b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #00ccbc;
}

a:active {
  color: #00c2b2;
}

[type=text],
[type=email],
[type=submit],
textarea {
  outline: none;
  padding: 1.07em 1.42em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

[type=submit],
button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  outline: 0;
}

hr {
  height: 2px;
  width: 100%;
  margin: 34px 0;
  background-color: rgba(65, 61, 75, 0.3);
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.37em;
  }
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #636363;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00ccbc;
}

.l-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
}

.l-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 10px;
}

#about,
#expertise,
#works,
#contact {
  color: #413d4b;
}

#home {
  background: #130d33 url("../files/bg/home.jpg") no-repeat center;
}

#team {
  background: #130d33 url("../files/bg/team.jpg") no-repeat center;
}

#testimonials {
  background: #130d33 url("../files/bg/testimonials.jpg") no-repeat center;
}

#page-footer {
  background: #130d33 url("../files/bg/footer.jpg") no-repeat center;
}

#home,
#team,
#testimonials,
#page-footer {
  -webkit-background-size: cover;
  background-size: cover;
}

.contrast-link {
  color: #413d4b;
}

.section-promo {
  margin-bottom: 50px;
  text-align: center;
}

.section-subtitle {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.075em;
}

.btn {
  display: inline-block;
  padding: 1.07em;
  border: 1px #00ccbc solid;
  border-radius: 2px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.14em;
  line-height: 0;
  text-transform: uppercase;
  text-align: center;
  color: #00ccbc;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.btn:hover {
  -webkit-box-shadow: 0px 0px 0px 1px #00d6c6;
  box-shadow: 0px 0px 0px 1px #00d6c6;
  border-color: #00d6c6;
  color: #00ccbc;
}
.btn:active {
  background-color: #00ccbc;
  color: #ffffff;
}
.btn--wide {
  min-width: 140px;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.logo-img {
  width: 44px;
  height: 50px;
  margin-right: 10px;
  background: url("../files/assets/logo.png") no-repeat center;
}

.logo-title {
  font-size: 2.14em;
  font-weight: 100;
  color: #00ccbc;
}

.video-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 0;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.start-playing {
  text-align: center;
}
.start-playing + .video {
  display: none;
}
.start-playing:hover .start-playing-icon {
  background-image: url("../files/assets/play_icon_hover.png");
}

.start-playing-icon {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto 30px;
  background: url("../files/assets/play_icon.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
}

.start-playing-sub {
  font-size: 1.14em;
  letter-spacing: 0.05em;
  font-weight: 900;
  text-transform: uppercase;
}

.person-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.person-card {
  width: 220px;
  margin: 0;
}

.person-photo {
  display: block;
  width: 100%;
}

.person-photo-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 80px;
  border: 1px solid rgba(215, 215, 217, 0.5);
}

.person-name {
  font-weight: bold;
}

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-item {
  margin-right: 8px;
}
.social-item:last-of-type {
  margin-right: 0;
}

.social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin: 0;
  border: 1px #ffffff solid;
  border-radius: 50%;
  font-family: "icomoon";
  font-size: 16px;
  font-weight: initial;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.social-icon:hover {
  -webkit-box-shadow: 0px 0px 0px 1px #00d6c6;
  box-shadow: 0px 0px 0px 1px #00d6c6;
  border-color: #00ccbc;
  color: #00ccbc;
}

.icon-facebook::before {
  content: "";
}
.icon-twitter::before {
  content: "";
}
.icon-dribble::before {
  content: "";
}
.icon-instagram::before {
  content: "";
}
.icon-google-plus::before {
  content: "";
}
.icon-youtube::before {
  content: "";
}

@media only screen and (max-width: 1280px) {
  .social-icon {
    width: 42px;
    height: 42px;
    font-size: 21px;
  }
}
body {
  overflow: hidden;
}

.preloader {
  z-index: 9000;
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #130d33;
}

.preloader_loading-sign {
  font-family: "Arial", sans-serif;
  font-size: 140px;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #00ccbc;
}
.preloader_loading-sign::before, .preloader_loading-sign::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 100px;
  border-color: #00ccbc;
  border-style: solid;
  border-bottom-width: 2px;
}
.preloader_loading-sign::before {
  top: 15px;
  left: 15px;
  border-right: 0;
  border-bottom: 0;
}
.preloader_loading-sign::after {
  right: 15px;
  bottom: 15px;
  border-top: 0;
  border-left: 0;
}

@media only screen and (max-width: 800px) {
  .preloader_loading-sign {
    font-size: 8em;
  }
}
@media only screen and (max-width: 600px) {
  .preloader_loading-sign {
    font-size: 5em;
  }
}
@media only screen and (max-width: 320px) {
  .preloader_loading-sign {
    font-size: 2em;
  }
}
.home_container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  min-height: 670px;
  padding: 15px 10px 70px 10px;
  text-align: center;
}

.home_top {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.page-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  font-family: "Hammersmith One", sans-serif;
  font-size: 0.92em;
  letter-spacing: 0.025em;
  font-weight: 900;
  text-transform: uppercase;
}

.page-nav_item {
  margin-right: 12px;
}
.page-nav_item:last-of-type {
  margin-right: 0;
}

.home_container .home_carousel {
  position: static;
}

.home_dots {
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.home_dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.home_dot:last-of-type {
  margin-right: 0;
}
.home_dot:hover {
  border-color: #00ccbc;
}
.home_dot.active {
  background: #00ccbc;
  border-color: #00ccbc;
}

.home_promo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  padding: 0 calc(8.33% + 10px);
}
.home_promo > * {
  max-width: 100%;
}

.home_promo-title {
  position: relative;
  display: block;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-size: 2.28em;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-weight: 900;
  text-align: center;
}
.home_promo-title::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: calc(50% - 25px);
  display: block;
  height: 1px;
  width: 50px;
  margin: 0 auto;
  background-color: #00ccbc;
}

.home_promo-text {
  display: block;
  margin-bottom: 30px;
  line-height: 1.71em;
  letter-spacing: 0.05em;
}

.page-nav_toggle {
  z-index: 8100;
  position: fixed;
  top: 10px;
  right: 30px;
  display: none;
  height: 50px;
  width: 50px;
  padding: 0;
  border-width: 2px;
}
.page-nav_toggle:hover {
  background-color: transparent;
}
.page-nav_toggle:hover .page-nav_icon {
  left: 8px;
  right: 8px;
}
.page-nav_toggle.is-cross .page-nav_icon-top {
  -webkit-animation: cross_icon-top 0.3s ease forwards;
  -moz-animation: cross_icon-top 0.3s ease forwards;
  -o-animation: cross_icon-top 0.3s ease forwards;
  animation: cross_icon-top 0.3s ease forwards;
}
.page-nav_toggle.is-cross .page-nav_icon-middle {
  -webkit-animation: cross_icon-middle 0.3s ease forwards;
  -moz-animation: cross_icon-middle 0.3s ease forwards;
  -o-animation: cross_icon-middle 0.3s ease forwards;
  animation: cross_icon-middle 0.3s ease forwards;
}
.page-nav_toggle.is-cross .page-nav_icon-bottom {
  -webkit-animation: cross_icon-bottom 0.3s ease forwards;
  -moz-animation: cross_icon-bottom 0.3s ease forwards;
  -o-animation: cross_icon-bottom 0.3s ease forwards;
  animation: cross_icon-bottom 0.3s ease forwards;
}
.page-nav_toggle.is-menu .page-nav_icon-top {
  -webkit-animation: menu_icon-top 0.3s ease forwards;
  -moz-animation: menu_icon-top 0.3s ease forwards;
  -o-animation: menu_icon-top 0.3s ease forwards;
  animation: menu_icon-top 0.3s ease forwards;
}
.page-nav_toggle.is-menu .page-nav_icon-middle {
  -webkit-animation: menu_icon-middle 0.3s ease forwards;
  -moz-animation: menu_icon-middle 0.3s ease forwards;
  -o-animation: menu_icon-middle 0.3s ease forwards;
  animation: menu_icon-middle 0.3s ease forwards;
}
.page-nav_toggle.is-menu .page-nav_icon-bottom {
  -webkit-animation: menu_icon-bottom 0.3s ease forwards;
  -moz-animation: menu_icon-bottom 0.3s ease forwards;
  -o-animation: menu_icon-bottom 0.3s ease forwards;
  animation: menu_icon-bottom 0.3s ease forwards;
}

.page-nav_icon {
  position: absolute;
  left: 10px;
  right: 10px;
  display: block;
  height: 5px;
  background-color: #00ccbc;
  border-radius: 2px;
  -webkit-transition: left 0.3s ease, right 0.3s ease;
  -o-transition: left 0.3s ease, right 0.3s ease;
  transition: left 0.3s ease, right 0.3s ease;
}

@media only screen and (max-width: 1024px) {
  .page-nav_toggle {
    display: block;
  }

  .page-nav {
    z-index: 8000;
    position: fixed;
    right: 0;
    bottom: 100%;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(19, 13, 51, 0.8);
    font-size: 2em;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .page-nav.is-expand {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  .page-nav_item {
    margin: 0 0 20px;
  }

  .home_promo {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 800px) {
  .home_promo {
    padding: 0 10%;
  }

  .home_promo-title {
    font-size: 1.78em;
  }
}
@media only screen and (max-width: 600px) {
  .home_promo {
    padding: 0 10px;
    text-align: left;
  }
}
@keyframes cross_icon-top {
  0% {
    top: 10px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes cross_icon-middle {
  0% {
    top: 20px;
  }
  100% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes cross_icon-bottom {
  0% {
    top: 30px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes menu_icon-top {
  0% {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    top: 20px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 10px;
  }
}
@keyframes menu_icon-middle {
  0% {
    top: 20px;
  }
  50% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    top: 20px;
  }
}
@keyframes menu_icon-bottom {
  0% {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    top: 20px;
    transform: rotate(0deg);
  }
  100% {
    top: 30px;
  }
}
.about_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.about_logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  -moz-align-items: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 41.66%;
}

.about_big-logo {
  max-height: 235px;
}

.about_promo {
  width: 58.33%;
  padding-left: 10px;
  line-height: 1.57em;
  letter-spacing: 0.03em;
}

.about_video-bg-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 550px;
  background: #130d33 url("../files/bg/about.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.about_video {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .about_logo-container {
    display: none;
  }

  .about_promo {
    width: 100%;
    padding: 0 10%;
  }

  .about_promo-title {
    text-align: center;
  }

  .about_btn-container {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .about_promo {
    padding: 0 10px;
  }
}
.expertise_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.expertise_promo {
  position: relative;
}
.expertise_promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  display: block;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  background-color: rgba(65, 61, 75, 0.3);
}

.expertise_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}

.expertise_list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  padding: 35px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  line-height: 1.57em;
  letter-spacing: 0.05em;
  text-align: center;
}

.expertise_list-icon {
  margin-bottom: 30px;
}

@media only screen and (min-width: 1025px) {
  .expertise_list-item {
    width: 33.33%;
  }
  .expertise_list-item:nth-child(3n) {
    border-right: none;
  }
  .expertise_list-item:nth-last-child(-n+3) {
    border-bottom: none;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .expertise_list-item {
    width: 50%;
  }
  .expertise_list-item:nth-child(2n) {
    border-right: none;
  }
  .expertise_list-item:nth-last-child(-n+2) {
    border-bottom: none;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .expertise_list-item {
    width: 50%;
  }
  .expertise_list-item:nth-child(2n) {
    border-right: none;
  }
  .expertise_list-item:nth-last-child(-n+2) {
    border-bottom: none;
  }
}
@media only screen and (max-width: 700px) {
  .expertise_list-item {
    width: 100%;
    padding: 20px 20%;
  }
  .expertise_list-item:nth-child(1n) {
    border-right: none;
  }
  .expertise_list-item:nth-last-child(-n+1) {
    border-bottom: none;
  }
}
@media only screen and (max-width: 600px) {
  .expertise_list-item {
    padding: 10px 10%;
  }
}
@media only screen and (max-width: 320px) {
  .expertise_list-item {
    padding: 10px 10px;
  }
}
.team_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

.team_promo {
  position: relative;
}
.team_promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  display: block;
  height: 2px;
  width: 50px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.team_cards {
  margin-bottom: 60px;
}

.team_person-card {
  max-height: 100%;
}

.team_sub {
  letter-spacing: 0.05em;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .team_cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    padding: 0 10%;
  }

  .team_person-card:nth-child(odd) {
    margin-right: 60px;
  }
}
@media only screen and (max-width: 800px) {
  .team_cards {
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .team_cards {
    margin-bottom: 50px;
  }

  .team_person-card {
    margin: 10px 0;
  }
  .team_person-card:nth-child(odd) {
    margin-right: 0;
  }
}
.works_top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.works_link {
  letter-spacing: 0.05em;
  color: #413d4b;
}

.works_images-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: start;
  -moz-align-items: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  overflow-y: hidden;
  max-height: 400px;
  background-color: #130d33;
}

.works_figure {
  position: relative;
  width: 16.66%;
  cursor: pointer;
  overflow: hidden;
}
.works_figure:hover .works_caption {
  top: 0;
}

.works_image {
  display: block;
  width: 100%;
}

.works_caption {
  position: absolute;
  top: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.14em;
  line-height: 1.625em;
  letter-spacing: 0.05em;
  text-align: center;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.works_caption > * {
  max-width: 100%;
  cursor: auto;
}
.works_caption > h3 {
  border-bottom: 1px dashed #ffffff;
  text-transform: initial;
}
.works_caption > h3:hover {
  border-color: #00ccbc;
}

.works_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .works_figure {
    width: 20%;
  }

  .works_caption {
    font-size: 0.875em;
  }
}
@media only screen and (max-width: 1024px) {
  .works_figure {
    width: 25%;
  }
}
@media only screen and (max-width: 800px) {
  .works_figure {
    width: 33.33%;
  }

  .works_caption {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .works_top {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    text-align: center;
  }

  .works_tittle {
    margin-bottom: 10px;
  }

  .works_figure {
    width: 50%;
  }
}
.testimonials_container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.testimony {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 5rem 80px 0;
  text-align: center;
}
.testimony > * {
  max-width: 100%;
}
.testimony::before {
  content: "“";
  position: absolute;
  top: 30px;
  left: 50%;
  font-family: "Playfair Display", serif;
  font-size: 100px;
  line-height: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.testimony_quote {
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
  font-size: 1.14em;
  line-height: 1.615em;
  letter-spacing: 0.025em;
}
.testimony_quote::before, .testimony_quote::after {
  content: none;
}

.testimony_author {
  letter-spacing: 0.05em;
  font-weight: 900;
  text-transform: uppercase;
}

.testimony_author-position {
  font-size: 0.92em;
  font-weight: 300;
  text-transform: uppercase;
}

.testimonials_nav {
  height: 0;
  padding: 0;
}
.testimonials_nav .owl-prev,
.testimonials_nav .owl-next {
  position: absolute;
  bottom: 22px;
}
.testimonials_nav .owl-prev {
  left: calc(50% - 183px);
}
.testimonials_nav .owl-next {
  right: calc(50% - 183px);
}

.testimonials_dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  height: 70px;
}

.testimonials_dot {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
  border-radius: 50%;
  margin-right: 14px;
  padding: 0;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.testimonials_dot:last-of-type {
  margin-right: 0;
}
.testimonials_dot.active {
  width: 70px;
  height: 70px;
}
.testimonials_dot:nth-child(1) {
  background-image: url("../files/testimonials_photos/1.jpg");
}
.testimonials_dot:nth-child(2) {
  background-image: url("../files/testimonials_photos/2.jpg");
}
.testimonials_dot:nth-child(3) {
  background-image: url("../files/testimonials_photos/3.jpg");
}
.testimonials_dot:nth-child(4) {
  background-image: url("../files/testimonials_photos/4.jpg");
}
.testimonials_dot:nth-child(5) {
  background-image: url("../files/testimonials_photos/5.jpg");
}

@media only screen and (max-width: 1024px) {
  .testimony {
    padding: 80px 10% 0;
  }
}
@media only screen and (max-width: 800px) {
  .testimony {
    padding: 0 10% 0;
  }
  .testimony::before {
    content: none;
  }
}
@media only screen and (max-width: 600px) {
  .testimony {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    -moz-align-items: start;
    align-items: start;
    padding: 0 10px;
    text-align: left;
  }

  .testimony_author,
.testimony_author-position {
    margin-left: 20px;
  }

  .testimonials_dots {
    position: relative;
    left: 50px;
    height: 70px;
    width: 70px;
    overflow-x: hidden;
  }

  .testimonials_dot {
    position: absolute;
    left: -70px;
    margin: 0;
  }
  .testimonials_dot.active {
    left: 0;
  }

  .testimonials_nav .owl-prev {
    left: 10px;
  }
  .testimonials_nav .owl-next {
    left: 140px;
  }
}
.contact_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.contact,
.client {
  padding: 0 10px;
}

.contact {
  width: 50%;
}

.contact_title {
  margin-bottom: 30px;
}

.contact_input-container {
  position: relative;
  margin-bottom: 20px;
}
.contact_input-container .label-placeholder {
  position: absolute;
  top: 15px;
  left: calc(1.42em - 0.3em);
  padding: 0 0.3em;
  background-color: #ffffff;
  line-height: 1;
  font-weight: initial;
  color: rgba(65, 61, 75, 0.5);
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.contact_input-container .label-placeholder.is-removed {
  top: -0.85em;
  background-color: #ffffff;
  font-size: 0.1em;
}
.contact_input-container .invalid-message {
  display: none;
  padding: 5px;
  overflow: hidden;
  pointer-events: none;
  font-weight: initial;
  color: #ff0000;
}

.contact_text-input {
  letter-spacing: 0.05em;
  width: 100%;
  -webkit-transition: border-color 0.3s ease;
  -o-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.contact_text-input:valid {
  border-color: #00aa00;
}
.contact_text-input:valid + .label-placeholder {
  top: -0.5em;
  font-size: 0.85em;
  color: #00aa00;
}
.contact_text-input:focus {
  border-color: #00d6c6;
}
.contact_text-input:focus + .label-placeholder {
  top: -0.5em;
  font-size: 0.85em;
  color: #00c2b2;
}

textarea.contact_text-input {
  min-height: 200px;
  resize: none;
}

.contact-and-client-divider {
  display: none;
}

.client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  width: 41.66%;
}

.client_grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.client_grid-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  width: 40%;
  margin-bottom: 50px;
}
.client_grid-item > img {
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .client {
    width: 45%;
  }

  .client_grid-item {
    width: 45%;
  }
}
@media only screen and (max-width: 800px) {
  .contact-and-client-divider {
    display: block;
  }

  .contact_container {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }

  .contact,
.client,
.contact-and-client-divider {
    width: 75%;
  }

  .contact_title {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .contact,
.client,
.contact-and-client-divider {
    width: 100%;
  }

  .client_grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
  }

  .client_grid-item:nth-child(odd) {
    margin-right: 10px;
  }
}
.footer_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  padding: 70px 0;
  line-height: 1.85;
  letter-spacing: 0.025em;
}

.footer_panels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.footer_panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 33.33%;
  padding: 0 10px 10px;
}

.footer_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  min-height: 50px;
  margin-bottom: 20px;
}

.footer_promo {
  margin: 0;
}

.footer_contacts {
  position: relative;
  margin-left: 30px;
}
.footer_contacts-address {
  margin-bottom: 20px;
}
.footer_contacts::before {
  position: absolute;
  left: -30px;
  font-family: "icomoon";
  font-size: 1.14em;
}
.footer_contacts.icon-address::before {
  content: "";
}
.footer_contacts.icon-phone::before {
  content: "";
}

.subscribe_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.subscribe_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 20px;
}

.subscribe_input-container {
  position: relative;
  width: 100%;
  color: rgba(255, 255, 255, 0.75);
}
.subscribe_input-container .label-placeholder {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  line-height: 1;
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
}
.subscribe_input-container .label-placeholder.is-removed {
  opacity: 0;
}
.subscribe_input-container .invalid-message {
  display: none;
  padding: 5px 5px 0;
  overflow: hidden;
  pointer-events: none;
  font-weight: initial;
  color: rgba(255, 0, 0, 0.75);
}

.subscribe_text-input {
  width: 100%;
  height: 45px;
  padding: 1.07em;
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
}
.subscribe_text-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}
.subscribe_text-input:focus + .label-placeholder {
  opacity: 0;
}

.subscribe_submit {
  height: 45px;
  width: 70px;
  margin-left: 10px;
  border: none;
  border-radius: initial;
  background: rgba(255, 255, 255, 0.5) url("../files/assets/send_icon.png") no-repeat center;
}
.subscribe_submit:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.footer_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
  padding: 0 10px;
  font-weight: initial;
}

.footer_bottom-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.footer_bottom-link {
  margin-right: 1.78em;
}
.footer_bottom-link:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1024px) {
  .footer_panel-promo {
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer_panel-contacts,
.footer_panel-subscribe {
    width: 50%;
    margin-bottom: 20px;
  }

  .footer_promo-header,
.footer_promo {
    width: 50%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
  .footer_social-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer_social-list .social-item {
    margin-right: 4px;
  }
}
@media only screen and (max-width: 600px) {
  .footer_panel-promo {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
  }

  .footer_panel {
    width: 100%;
  }

  .footer_promo-header,
.footer_promo {
    width: 100%;
  }

  .footer_bottom {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
  }
}
@media only screen and (max-width: 320px) {
  .footer_panel-subscribe {
    margin-bottom: 0;
  }

  .footer_social-list {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer_social-list .social-item {
    margin: 0 0 21px;
    width: 33.33%;
  }
  .footer_social-list .social-icon {
    margin: 0 auto;
  }

  .footer_bottom {
    text-align: center;
    margin-top: 20px;
  }

  .footer_bottom-links {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    margin-bottom: 50px;
  }

  .footer_bottom-link {
    margin: 0 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
