@font-face {
  font-family: 'icomoon';
  src:  url('../files/fonts/icomoon.ttf') format('truetype'),
    url('../files/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
