.footer_container {
  @include vp-flexbox();
  @include vp-flex-flow(column nowrap);
  padding: 70px 0;

  line-height: 1.85;
  letter-spacing: 0.025em;
}

.footer_panels {
  @include vp-flexbox();
  @include vp-flex-flow(row wrap);
}

.footer_panel {
  @include vp-flexbox();
  @include vp-flex-flow(column nowrap);

  width: 33.33%;
  padding: 0 10px 10px;
}

.footer_header {
  @include vp-flexbox();
  @include vp-align-items(center);
  min-height: 50px;
  margin-bottom: 20px;
}

.footer_promo {
  margin: 0;
}

.footer_contacts {
  position: relative;
  margin-left: 30px;

  &-address {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    left: -30px;
    font-family: 'icomoon';
    font-size: 1.14em;
  }

  &.icon-address::before {
    content: '\e947';
  }

  &.icon-phone::before {
    content: "\e942";
  }
}

.subscribe_content {
  @include vp-flexbox();
  @include vp-flex-flow(column nowrap);
  @include vp-flex(1);
}

.subscribe_form {
  @include vp-flexbox();
  @include vp-flex(1);
  margin-bottom: 20px;
}

.subscribe_input-container {
  position: relative;
  width: 100%;

  color: rgba($main-text-color, 0.75);

  .label-placeholder {
    position: absolute;
    top: 15px;
    left: 15px;
    pointer-events: none;
    line-height: 1;

    @include vp-transition(0.1s ease);

    &.is-removed {
      opacity: 0;
    }
  }

  .invalid-message {
    display: none;
    padding: 5px 5px 0;
    @include vp-overflow(hidden);

    pointer-events: none;
    font-weight: initial;
    color: rgba($invalid, 0.75);
  }
}

.subscribe_text-input {
  width: 100%;
  height: 45px;
  padding: 1.07em;
  border-color: $button-color-footer;

  color: $button-color-footer;

  &:hover {
    border-color: $button-color-footer-hover;
    color: $button-color-footer-hover;
  }

  &:focus + .label-placeholder {
    opacity: 0;
  }
}

.subscribe_submit {
  height: 45px;
  width: 70px;
  margin-left: 10px;
  border: none;
  border-radius: initial;
  background: $button-color-footer url("../files/assets/send_icon.png") no-repeat center;

  &:hover {
    background-color: $button-color-footer-hover;
  }
}

.footer_bottom {
  @include vp-flexbox();
  @include vp-justify-content(space-between);
  width: 100%;
  margin-top: 50px;
  padding: 0 10px;

  font-weight: initial;
}

.footer_bottom-links {
  @include vp-flexbox();
  text-transform: uppercase;
}

.footer_bottom-link {
  margin-right: 1.78em;

  &:last-child {
    margin-right: 0;
  }
}

//* Adaptive styles ***********//

@include for_tablet {
  .footer_panel-promo {
    @include vp-flex-flow(row nowrap);
    width: 100%;
    margin-bottom: 20px;
  }

  .footer_panel-contacts,
  .footer_panel-subscribe {
    width: 50%;
    margin-bottom: 20px;
  }

  .footer_promo-header,
  .footer_promo {
    width: 50%;
  }
}

@include for_big_phone_only {
  .footer_social-list {
    @include vp-justify-content(space-between);

    .social-item {
      margin-right: 4px;
    }
  }
}

@include for_phone {
  .footer_panel-promo {
    @include vp-flex-flow(column nowrap);
  }

  .footer_panel {
    width: 100%;
  }

  .footer_promo-header,
  .footer_promo {
    width: 100%;
  }

  .footer_bottom {
    @include vp-flex-flow(column nowrap);
    @include vp-align-items(center);
  }
}

@include for_small_phone {
  .footer_panel-subscribe {
    margin-bottom: 0;
  }

  .footer_social-list {
    @include vp-flex-flow(row wrap);
    @include vp-justify-content(space-between);

    .social-item {
      margin: 0 0 21px;
      width: 33.33%;
    }

    .social-icon {
      margin: 0 auto;
    }
  }

  .footer_bottom {
    text-align: center;
    margin-top: 20px;
  }

  .footer_bottom-links {
    @include vp-flex-flow(column nowrap);
    margin-bottom: 50px;
  }

  .footer_bottom-link {
    margin: 0 0 10px;
  }
}