.person-cards {
  @include vp-flexbox();
  @include vp-flex-flow(row wrap);
  @include vp-justify-content(space-between);
  width: 100%;
}

.person-card {
  width: 220px;
  margin: 0;
}

.person-photo {
  display: block;
  width: 100%;
}

.person-photo-caption {
  @include vp-flexbox();
  @include vp-flex-flow(column nowrap);
  @include vp-align-items(center);
  @include vp-justify-content(center);
  height: 80px;
  border: 1px solid $person-caption-border-color;
}