.l-section {
  @include vp-flexbox;
  @include vp-flex-flow(column nowrap);
  width: 100%;
}

.l-content {
  @include vp-flexbox;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 70px 10px;
}

#about,
#expertise,
#works,
#contact {
  color: $contrast-text-color;
}

#home {
  background: $main-color url("../files/bg/home.jpg") no-repeat center;

}

#team {
  background: $main-color url("../files/bg/team.jpg") no-repeat center;
}

#testimonials {
  background: $main-color url("../files/bg/testimonials.jpg") no-repeat center;
}

#page-footer {
  background: $main-color url("../files/bg/footer.jpg") no-repeat center;
}

#home,
#team,
#testimonials,
#page-footer {
  @include vp-background-size(cover);
}